.App {
  text-align: center;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: '00C78C';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  border: 2px solid transparent;
  width: 900px;
  margin-left: 15%;
  margin-top: 6%;
  height: 140px;
  padding-top: 180px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: transparent;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  background-image: linear-gradient(to left,#1E90FF,#0000FF,#1E90FF,#afeeee );
  background-repeat: no-repeat;
  background-size: 100%;
  float: bottom;
}

.g{
  border: 2px solid white;
  background: transparent;
  width: 500px;
  font-size: 68px;
  margin-top: -160px;
  font-style: italic;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  float: left;
  font-weight: 900;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 6%;
}
.name{
  border: 2px solid transparent;
  width: 300px;
  margin-left: 140px;
}

.gLogo{
  height: 300px;
  margin-right: 10%;
  margin-left: -8%;
  margin-top: -8.6%;
  float: left;
  position: absolute;
  width: 300px;
  background-repeat: no-repeat;
  background: url("globe.png");
  background-size: cover;
}

.bottomHead{
  height: 72px;
  margin-top: 45px;
  width: 600px;
  padding-top: 0.5%;
}

.logoPic{
  float: left;
  height: 60px;
  margin-right: 5%;
  margin-left: 5%;
  width: 150px;
  background-repeat: no-repeat;
  background:url("gquiz.jpg");
  background-size: cover;
}

.btn-login{
  margin-left: 5%;
  height: 50px;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  background: transparent;
  border: 1px solid white;
  width: 100px;
}

.btn-login:hover, .btn-signup:hover{
  background-image: linear-gradient(to left,#0000FF,#1E90FF );
  color: white;
  font-weight: 400;
}

.btn-signup{
  margin-left: -68%;
  height: 50px;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  background: transparent;
  border: 1px solid white;
  width: 100px;
}

.btn-submit{
  height: 60px;
  width: 140px;
  border-radius: 10px;
  color: #0000FF;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  margin-left: 160px;
  margin-top: -80px;
  border: 2px solid #0000FF;
  background: transparent;
}

.btn-submit:hover{
  background-image: linear-gradient(to left,#0000FF,#1E90FF );
  color: white;
}

.Buttons{
  margin-top: 2%;
  margin-left: 45%;
  color: white;
  width: 320px;
  align-content: space-between;
}

.AppBody{
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
  margin-top: -40px;
  align-content: center;
  margin-left: -380px;
  height: 450px;
  width: 1304px;
}

.program{
  border:2px solid transparent;
  background: url("developers.jpeg");
  background-repeat: no-repeat;
  height: 280px;
  width: 360px;
  position: absolute;
  margin-left: 580px;
  border-bottom-left-radius: 40px;
  border-left: 4px solid white;
  border-bottom: 2px solid white;
  margin-top: -158px;
  background-size: cover;
}

.cardHolder{
  border: 2px solid transparent;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  height: 680px;
  margin-left: -380px;
  width: 1304px;
}

.cardHolder2{
  border: 2px solid transparent;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  height: 700px;
  margin-left: -380px;
  width: 1304px;
}

.card{
  margin: 1.5% 2% 2% 2%;
  border: 2px solid transparent;
  margin-left: 300px;
  background: white;
  height: 500px;
  border-radius: 20px;
  text-align: center;
  width: 700px;
  margin-bottom: 5%;
}

.card2{
  margin: 1.5% 2% 2% 2%;
  border: 2px solid transparent;
  margin-left: 300px;
  background: white;
  height: 540px;
  border-radius: 20px;
  text-align: center;
  width: 700px;
  margin-bottom: 5%;
}

.devImage{
  background: url("programmer.jpg");
  height: 250px;
  width: 500px;
  margin-left: 13.6%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top{
  color: #0000FF;
  font-weight: 600;
}

label{
  font-size: 20px;
  font-weight: 600;
  margin-right: 2%;
  margin-top: 5%;
}

.info{
  text-align: left;
  padding-left: 2%;
  margin-left: 20px;
  width : 500px;
  border: 2px solid transparent;
}

.select{
  font-size: 24px;
  position: absolute;
  border: 2px solid #0000FF;
  background: transparent;
  margin-left: 180px;
  height: 60px;
  width: 120px;
  border-radius: 20px;
  margin-top: -80px;
}

.select:hover{
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
}

.title{
  text-align: center;
  float: left;
  margin-top: 2%;
}

input{
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  padding-left: 4%;
  color: black;
  width: 300px;
  margin-top: 2%;
  border-radius: 20px;
  border: 1px solid lightslategrey;
}

.learn{
  height: 50px;
  width: 200px;
  color: white;
  background: #0000FF;
  border-radius: 10px;
  border: 2px solid white;
  position: absolute;
  font-size: 20px;
  margin-left: 400px;
  font-weight: 600;
  font-style: italic;
}

.home{
  background: url("thiscode.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 280px;
  width: 600px;
  margin-left: -0.4%;
  margin-top: -0.5%;
  border: 2px solid transparent;
}

.start{
  width: 600px;
  margin-bottom: 26px;
  border: 2px solid transparent;
  margin-top: 16px;
  background-color: white;
  border-radius: 10px;
  margin-left: 350px;
  height: 500px;
}

.start4{
  width: 600px;
  margin-bottom: 26px;
  border: 2px solid transparent;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  margin-left: 350px;
  height: 660px;
}

.topicContainer{
  border: 2px solid transparent;
  border-radius: 20px;
  padding-left: 5%;
  height: 200px;
  margin-left: 1%;
  margin-top: 46%;
  width: 550px;
}

.instruct{
  font-size: 26px;
  font-weight: 600;
  color: black;
  width: 510px;
  text-align: center;
  margin-top: 2%;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border: 2px solid transparent;
}

.instruct:hover{
  background-image: linear-gradient(to right,#0000FF,#1E90FF,#afeeee);
  color: white;
  font-weight: 800;
}

.below{
  align-content: center;
  margin-left: -380px;
  height: 860px;
  width: 1304px;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
}

.belowf{
  align-content: center;
  margin-left: -380px;
  height: 1360px;
  border: 2px solid transparent;
  width: 1304px;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
}

.enterTopic{
  height: 50px;
  width: 90px;
  background: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #0000FF;
  float: left;
  margin-left: 2%;
}

.enterTopic:hover{
  color: white;
  font-weight: 600;
  background: #1E90FF;
  border: 2px solid #1E90FF;
}

.greet{
  color: #0000FF;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  margin-top: 14%;
  margin-left: 25%;
}

.contain{
  border: 2px solid transparent;
  padding-left: 6%;
  height: 800px;
}

.follow{
  font-style: italic;
  font-weight: 700;
  width: 500px;
  border: 2px solid transparent;
}

.hold{
  border: 2px solid transparent;
  width: 500px;
  align-content: center;
  margin-bottom: 5%;
  text-align: center;
}

.thisPdf{
  height: 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  text-align: center;
  border: 2px solid #0000FF;
  border-radius: 10px;
  color: black;
}

.thisPdf:hover{
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  color: white;
  border: 2px solid transparent;
}

.below2{
  align-content: center;
  margin-left: -378px;
  height: 1200px;
  width: 1302px;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
}

.start2{
  width: 600px;
  margin-bottom: 26px;
  border: 2px solid transparent;
  margin-top: 16px;
  background-color: white;
  border-radius: 10px;
  margin-left: 360px;
  height: 800px;
}

.quiz{
  height: 50px;
  width: 400px;
  color: black;
  border: 2px solid #0000FF;
  font-size: 20px;
  border-radius: 10px;
  background: transparent;
  font-weight: 700;
}

.quiz:hover{
  color: white;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
}

.below3{
  align-content: center;
  margin-left: -378px;
  padding-left: 5%;
  padding-right: 5%;
  height: 800px;
  width: 1248px;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
}

.videoHolder{
  border: 2px solid transparent;
  height: 260px;
  width: 520px;
}

.signout{
  border: 1px solid white;
  height: 50px;
  width: 120px;
  position: absolute;
  margin-left: 1020px;
  font-size: 20px;
  color: white;
  border-radius: 16px;
  font-weight: 600;
  background: transparent;
  margin-top: -522px;
}

.signout:hover{
  background: #D22B2B;
}
.landing{
  border: 2px solid transparent;
  height: 500px;
  width: 900px;
  margin-left: 160px;
  margin-bottom: 60px;
  background: url("./landing.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.person1{
  border: 2px solid transparent;
  height: 320px;
  background: url("./component/About/ProImages/ASHIKS.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 240px;
  float: left;
}
.person2{
  border: 2px solid transparent;
  height: 320px;
  background: url("./component/About/ProImages/PRAGATI.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 240px;
  float: left;
}

.desc1{
  border: 2px dashed #0000FF;
  height: 220px;
  width: 240px;
  margin-top: -280px;
  border-left: 4px double #0000FF;
  font-weight: 400;
  margin-left: 80px;
  margin-bottom: 5%;
  float: right;
  padding: 2% 2% 2% 2%;
  text-align: center;
}
.desc2{
  border: 2px dashed #0000FF;
  height: 220px;
  width: 240px;
  margin-top: -280px;
  font-weight: 400;
  border-left: 4px double #0000FF;
  margin-left: 200px;
  margin-bottom: 5%;
  float: right;
  padding: 2% 2% 2% 2%;
  text-align: center;
}

.contacts{
  border: 4px solid #0000FF;
  margin-top: 0.5%;
  height: 60px;
  font-weight: 500;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 490px;
}

.bio{
  border: 2px solid transparent;
  height: 330px;
  width: 520px;
}

.scroll{
  border: 2px solid transparent;
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 520px;
}

.below4{
  align-content: center;
  margin-left: -380px;
  padding-left: 5%;
  padding-right: 5%;
  height: 900px;
  width: 1249px;
  background-image: linear-gradient(to right,#1E90FF,#0000FF,#1E90FF,#afeeee );
  border: 2px solid transparent;
}

.tagHolder{
  border: 2px solid transparent;
  height: 160px;
  width: 900px;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 1%;
  text-align: center;
  margin-top: 40px;
  border-right: 4px double white;
  border-bottom: 2px dashed white;
  border-top: 2px solid white;
  border-left: 4px double white;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: 120px;
}

.tagHolder:hover{
  border-bottom: 2px solid white;
  border-top: 2px dashed white;
}

.board{
  position: absolute;
  height: 60px;
  width: 190px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  margin-left: 10px;
}

.board:hover{
   background: darkblue;
}

table{
  border: 2px solid transparent;
  height: 340px;
  background-image: linear-gradient( to bottom right,#0000FF,#1E90FF,#afeeee );
  width: 520px;
}
th, td{
  border: 2px solid transparent;
  text-align: center;
  height: 50px;
  color: white;
  width: 100px;
}

th{
  background: #0000FF;
  border-bottom-left-radius: 20px;
  border-left-color: white;
  border-bottom: white;
  color: white;
}

.scroll2{
  border: 2px solid transparent;
  height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 520px;
}

.clickStyle{
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 160px;
  font-size: 30px;
  padding: 2% 2% 2% 2%;
  font-weight: 400;
  position: absolute;
  margin-top: -200px;
}

.clickStyle:hover{
  background: #0000FF;
}

.commentImage{
  background: url("./comments.jpg");
  border: 2px solid transparent;
  height: 180px;
  margin-top: -300px;
  margin-left: 250px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
}

.feedImage{
  border: 2px solid transparent;
  background: url("./feedback.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 590px;
  margin-left: -40px;
  margin-top: 10%;
}